.App header {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #3a405a;
	margin: 25px;
}

.App main {
	margin: 20px;
}
.App footer {
	color: #333333;
	font-size: 12px;
	text-align: center;
}
