.Results h1 {
	color: #596eb2;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
}

.Results h2 {
	color: #596eb2;
	font-size: 20px;
}

.Results h3 {
	color: #7a8cc3;
	font-size: 18px;
	margin-bottom: 15px;
}

.Results h3 span {
	background-color: rgba(161, 176, 226, 0.15);
	border-radius: 1px;
	padding: 0 6px 1px 6px;
}

.Results em {
	color: #7a8cc3;
}

.Results ul {
	list-style: none;
	display: flex;
	padding: 0;
}

.Results li {
	margin: 0 5px;
	border: #b59674 solid 1px;
	border-radius: 18px;
	padding: 4px 8px;
	background-color: rgba(250, 214, 176, 0.25);
	color: #8a6753;
	font-size: 13px;
}
